$("#chatrooms").append("<%= escape_javascript(render @chatroom ) %>");
$("#chatboxes").append("<div id=\"<%= escape_javascript(@chatroom.name) %>\" class=\"chatbox\"></div>");
$("#post_chatroom_id").val(<%= escape_javascript(@chatroom.id.to_s) %>);
