<div id="bckg">	</div>
<div id="main">
	<div id="chat-window">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 flexbox">
				<div id="chatrooms" >
					<% @chatrooms.each do |chatroom| %>
					<div class="text-center channel-name">
						<%= link_to "#" + chatroom.name, chatroom_path(chatroom), remote: true %>
					</div>
					<% end %>
					<!-- <div id="new_chat_name"> -->
					<%= render 'form', chatroom: @chatroom, class: "hidden" %>
					<!-- </div> -->
				</div>
				</div>
				<div class="col-xs-8 rounded-border">
					<div class="row">
						<div id="chatboxes" class="chatbox">
						</div>
					</div>
				</div>
				<div class="col-xs-8 col-xs-offset-2">
					<div class="row">
						<div class="message-input">
							<%= render 'posts/form', post: @post %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
