<div id="bckg">	</div>
<div id="main">
	<div id="chat-window">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 flexbox">
				<div id="chatrooms" >
					<%= render 'form', chatroom: @chatroom %>
				</div>
				</div>
				<div class="col-xs-8 rounded-border">
					<div class="row">
						<div id="chatbox">
						</div>
					</div>
				</div>
				<div class="col-xs-8 col-xs-offset-2">
					<div class="row">
						<div class="message-input">
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
</div>