// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-centered{
    float: none;
    margin: 0 auto;
}

.center-devise {

	    width: 175px;
}